
.button{
    background-color: #c0c0c0;
    color: #00c000;
    padding: 5pt;
}

.link{
    text-decoration: none !important;
    /* margin: 50px; */
    /* padding:50px;    */
}


  .main{
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
  }
  .button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: 0px;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: cyan;
  
  }
  .button:focus {
    outline: 20px;
    animation-direction: reverse;
  }
  
  .button > span {
    vertical-align: middle;
  }
  .button--round-s {
    border-radius: 5px;
  }

  .user{
    text-align: -webkit-center !important;
  }
  .main--btn{
    width:50px;
    height:50px;
    position: bottom;
    left:50%;
    top:100%;
    /* margin:-100px 0 0 -150px; */
  }